In [1]:
import pandas as pd

df = pd.read_excel('excel/coupang2024.xlsx')

df2023=pd.read_excel('excel/coupang2023.xlsx')

df,df2023

(                     주문일                                  상품명      가격  \
 0    2025-01-15 02:19:03                           자가비 케첩맛 3p   7,180
 1    2025-01-15 02:19:03                       농심 육개장 사발면 86g   4,980
 2    2025-01-15 02:19:03                    오뚜기 컵누들 마라탕 44.7g   6,350
 3    2025-01-15 02:19:03         라온 2in1 맥세이프 호환 듀얼 무선충전기 15W  27,900
 4    2025-01-13 05:06:48  솔향가득 잎편백수 천연 피톤치드 원액 스프레이 + 스프레이 공병  16,500
 ..                   ...                                  ...     ...
 413  2024-01-02 05:31:02                         나랑드 사이다 그린애플  13,200
 414  2024-01-02 05:31:02            코멧 순백 3겹 라벤더 바닐라 롤화장지 30m  13,490
 415  2024-01-02 05:31:02          코멧 프리미엄 부드러운 천연펄프 미용티슈 280매  10,890
 416  2024-01-02 05:31:02                      슈가로로 스파클링 사과 음료  22,900
 417  2024-01-02 05:31:02                카누 다크로스트 아메리카노 원두커피믹스  38,360

           카테고리
 0      음식 및 음료
 1      음식 및 음료
 2      음식 및 음료
 3    장비 및 생활용품
 4    장비 및 생활용품
 ..         ...
 413    음식 및 음료
 414  장비 및 생활용품
 415  장비 및 생활용품
 416    음식 및 음료
 417    음식 및 음료

 [418 rows x 4 columns],
                      주문일                          상품명      가격       카테고리
 0    2023-12-21 08:09:34        켈로그 프로틴 그래놀라 쉐이크 미숫가루  19,900    음식 및 음료
 1    2023-12-21 08:09:34                     쿠크다스 케이크  13,020    음식 및 음료
 2    2023-12-21 08:09:34  미주라 통밀도넛츠 2p + 초코칩 통밀도넛츠 2p  17,500    음식 및 음료
 3    2023-12-21 08:09:34               곰곰 간편한 미숫가루 스틱  16,300    음식 및 음료
 4    2023-12-21 08:09:34               농심 짜파게티 범벅 70g   5,040    음식 및 음료
 ..                   ...                          ...     ...        ...
 403  2023-01-09 01:10:56        카누 다크로스트 아메리카노 원두커피믹스  16,340    음식 및 음료
 404  2023-01-08 03:56:31                고르고 바른 마스크 대형   7,900  장비 및 생활용품
 405  2023-01-05 02:42:00                   공차 허니자몽블랙티   7,380    음식 및 음료
 406  2023-01-05 02:42:00           ipTIME USB허브 UC304  14,240  장비 및 생활용품
 407  2023-01-05 02:42:00        알티스트 핫초코 한잔에 당분이 단 1g   8,900    음식 및 음료

 [408 rows x 4 columns])

In [3]:
df = pd.concat([df,df2023])
df

,주문일,상품명,가격,카테고리
0,2025-01-15 02:19:03,자가비 케첩맛 3p,"7,180",음식 및 음료
1,2025-01-15 02:19:03,농심 육개장 사발면 86g,"4,980",음식 및 음료
2,2025-01-15 02:19:03,오뚜기 컵누들 마라탕 44.7g,"6,350",음식 및 음료
3,2025-01-15 02:19:03,라온 2in1 맥세이프 호환 듀얼 무선충전기 15W,"27,900",장비 및 생활용품
4,2025-01-13 05:06:48,솔향가득 잎편백수 천연 피톤치드 원액 스프레이 + 스프레이 공병,"16,500",장비 및 생활용품
...,...,...,...,...
403,2023-01-09 01:10:56,카누 다크로스트 아메리카노 원두커피믹스,"16,340",음식 및 음료
404,2023-01-08 03:56:31,고르고 바른 마스크 대형,"7,900",장비 및 생활용품
405,2023-01-05 02:42:00,공차 허니자몽블랙티,"7,380",음식 및 음료
406,2023-01-05 02:42:00,ipTIME USB허브 UC304,"14,240",장비 및 생활용품
407,2023-01-05 02:42:00,알티스트 핫초코 한잔에 당분이 단 1g,"8,900",음식 및 음료

In [4]:
df.to_excel('excel/coupang.xlsx', index=False)